<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<script src="static/htmx.min.js"></script>
		<link rel="icon" type="image/png" href="/static/assets/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />

		<style>
			.icon_size {
				width: 1.5rem; /* Adjust to your desired width */
				height: auto; /* Maintain the aspect ratio */
			}
		</style>

		<script type="application/javascript">
			function redirect_link(link) {
				window.open(link) || window.location(link)
			}
		</script>
	</head>
	<body class="bg-red-100 md:mx-auto py-4 px-8">
		<header class="">
			<nav class="flex">
				<div class="w-full flex justify-center">
					<button
						class="px-4"
						hx-get="/"
						hx-boost="true"
						hx-push-url="true"
						hx-trigger="click"
						hx-target="#content"
						hx-swap="innerHTML">
						Home
					</button>
					<button
						class="px-4"
						hx-get="about"
						hx-boost="true"
						hx-push-url="true"
						hx-trigger="click"
						hx-target="#content"
						hx-swap="innerHTML">
						About
					</button>
					<button
						class="px-4"
						hx-get="arcade"
						hx-boost="true"
						hx-push-url="true"
						hx-trigger="click"
						hx-target="#content"
						hx-swap="innerHTML">
						Arcade
					</button>
				</div>
				<button class="px-4" hx-on:click="redirect_link('https://www.linkedin.com/in/steen-ren%C3%A9-hansen-71a23b92/')">
					<img type="image/png" class="icon_size" src="/static/assets/LI-In-Bug.png" alt="GitHub Logo" />
				</button>

				<button hx-on:click="redirect_link('https://github.com/Photic')">
					<img class="icon_size" src="/static/assets/github-mark.svg" alt="GitHub Logo" />
				</button>
			</nav>
		</header>

		<main id="content">{{{content}}}</main>
	</body>

	<script src="static/websocket_hot_reload.js"></script>
</html>
